{% extends 'torneo/estructura/base.html' %}

{% block title %}Lista de Torneos{% endblock %}
{% load bootstrap_icons %} <!-- Cargar la librería bootstrap_icons -->
{% block content %}
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for torneo in torneos %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ torneo.nombre }}</h5>
                        <p class="card-text">{{ torneo.descripcion }}</p>
                        <h6 class="mt-3">Participantes:</h6>
                        <ul class="list-group list-group-flush flex-grow-1">
                            {% for torneo_participante in torneo.participantes.all %}
                                <li class="list-group-item">
                                    {{ torneo_participante.participante.usuario.nombre }} -
                                    Puntos: {{ torneo_participante.puntos_obtenidos }} -
                                    Posición: {{ torneo_participante.posicion_final }}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="mt-auto">
                            <!-- Botón para editar -->
                            
                            <!-- Formulario para eliminar -->
                            <form action="{% url 'torneo_eliminar' torneo.id %}" method="post"> 
                                <a href="{% url 'torneo_editar' torneo.id %}" class="btn btn-outline-secondary">
                                    <i class="bi bi-pencil"></i>
                                </a>
    
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger" onclick="return eliminar();">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}