{% extends 'torneo/estructura/base.html' %}

{% block title %}Lista de Equipos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Lista de Equipos</h1>

    {% block busqueda %}
        {% if texto_busqueda %}
            <h2 class="display-5">Resultados de la búsqueda: "{{ texto_busqueda }}"</h2>
        {% endif %}
    {% endblock %}

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for equipo in equipos_mostrar %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ equipo.nombre }}</h5>
                            <p class="card-text">{{ equipo.descripcion }}</p>
                            <div class="mt-auto">
                                <!-- Botón para actualizar -->
                                <a href="{% url 'equipo_editar' equipo.id %}" class="btn btn-outline-secondary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <!-- Botón para eliminar -->
                                <form action="{% url 'equipo_eliminar' equipo.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este equipo?');">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
