{% extends "torneo/estructura/base.html" %}

{% block content %}
{% load django_bootstrap5 %}

    <form action="{% url 'buscar_torneo' %}" method="GET"> 
        
        {% csrf_token %}

        <!-- Campo de texto para búsqueda -->
        <div class="mb-4">
            {% bootstrap_field formulario.textoBusqueda show_label=True %}
            <!-- Manejo de errores para 'textoBusqueda' -->
            <div class="invalid-feedback">
                {% for error in formulario.textoBusqueda.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div> 
        

        
        <!-- Campo de fecha desde -->
        <div class="mb-4">
            {% bootstrap_field formulario.fecha_desde show_label=True %}
            <!-- Manejo de errores para 'fecha_desde' -->
            <div class="invalid-feedback">
                {% for error in formulario.fecha_desde.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Campo de fecha hasta -->
        <div class="mb-4">
            {% bootstrap_field formulario.fecha_hasta show_label=True %}
            <!-- Manejo de errores para 'fecha_hasta' -->
            <div class="invalid-feedback">
                {% for error in formulario.fecha_hasta.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>


        <!-- Botón de búsqueda -->
        <div class="text-center">
            {% bootstrap_button "Buscar Torneos" button_type="submit" button_class="btn-primary" %}
        </div>

    </form> 

{% endblock %}
