{% extends 'torneo/estructura/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Crear Torneo</h1>
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <!-- Campo Nombre -->
        <div class="mb-3">
            <label for="{{ formulario.nombre.id_for_label }}" class="form-label">
                {{ formulario.nombre.label }}
            </label>
            <input type="text" 
                   name="{{ formulario.nombre.html_name }}" 
                   class="form-control {% if formulario.nombre.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                   id="{{ formulario.nombre.id_for_label }}" 
                   value="{{ formulario.nombre.value|default:'' }}">
            <div class="form-text">
                {{ formulario.nombre.help_text }}
            </div>
            <div class="invalid-feedback">
                {% for error in formulario.nombre.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                {% if formulario.nombre.value %}
                    <p>Este campo es obligatorio y debe tener como máximo {{ formulario.nombre.field.max_length }} caracteres.</p>
                {% endif %}
            </div>
        </div>
        

        <!-- Campo Descripción -->
        <div class="mb-4">
            <label for="{{ formulario.descripcion.id_for_label }}" class="form-label">{{ formulario.descripcion.label }}: </label>
            <textarea name="{{ formulario.descripcion.html_name }}" 
                    class="form-control {% if formulario.descripcion.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                    id="{{ formulario.descripcion.id_for_label }}">
                    {% if formulario.is_bound %}{{ formulario.descripcion.value }}{% endif %}</textarea>
            <div class="invalid-feedback">
                {% for error in formulario.descripcion.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <!-- Campo Fecha de Inicio -->
        <div class="mb-3">
            <label for="{{ formulario.fecha_inicio.id_for_label }}" class="form-label">
                {{ formulario.fecha_inicio.label }}
            </label>
            <input type="date" name="{{ formulario.fecha_inicio.html_name }}"
                   class="form-control {% if formulario.fecha_inicio.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}"
                   id="{{ formulario.fecha_inicio.id_for_label }}"
                   value="{{ formulario.fecha_inicio.value|default:'' }}" />
            <div class="invalid-feedback">
                {% for error in formulario.fecha_inicio.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-text">
                {{ formulario.fecha_inicio.help_text }}
            </div>
        </div>
        
        <!-- Campo Categoría -->
        <div class="mb-3">
            <label for="{{ formulario.categoria.id_for_label }}" class="form-label">
                {{ formulario.categoria.label }}
            </label>
            {{ formulario.categoria }}  <!-- Renderiza el campo select -->
            <div class="form-text">
                {{ formulario.categoria.help_text }}
            </div>
        </div>
        

        <!-- Campo Participantes -->
        <div class="mb-3">
            <label for="{{ formulario.participantes.id_for_label }}" class="form-label">
                {{ formulario.participantes.label }}
            </label>
            <div class="form-check {% if formulario.participantes.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}">
                {{ formulario.participantes }}
            </div>
            <div class="invalid-feedback">
                {% for error in formulario.participantes.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                {% if formulario.participantes.value %}
                    <p>Debe seleccionar al menos dos participantes.</p>
                {% endif %}
            </div>
            <div class="form-text">
                {{ formulario.participantes.help_text }}
            </div>
        </div>
        
        
        
        
        
        

        <!-- Campo Duración -->
        <div class="mb-3">
            <label for="{{ formulario.duracion.id_for_label }}" class="form-label">
                {{ formulario.duracion.label }}
            </label>
            {{ formulario.duracion }} <!-- Renderiza el campo select -->
            
            <!-- Mostrar los errores si existen -->
            {% if formulario.duracion.errors %}
                <div class="alert alert-danger">
                    {% for error in formulario.duracion.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-text">
                {{ formulario.duracion.help_text }}
            </div>
        </div>
        
        

        <!-- Botón Enviar -->
        <button type="submit" class="btn btn-primary w-100 mt-3">Crear Torneo</button>
    </form>
</div>
{% endblock %}
