{% extends 'torneo/estructura/base.html' %}

{% load django_bootstrap5 %}  <!-- Asegúrate de cargar las etiquetas de django-bootstrap5 -->

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Crear Usuario</h1>
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        {% bootstrap_form formulario %}  <!-- Esta etiqueta funciona una vez cargada django_bootstrap5 -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Crear Usuario</button> <!-- Botón de envío -->
        </div>
    </form>
</div>
{% endblock %}
