{% extends 'torneo/estructura/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <form action="{% url 'torneo_crear' %}" method="post"> 
        {% load django_bootstrap5 %}
        {% csrf_token %} 
        <div class="mb-4">
            {% bootstrap_form formulario %}         
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
{% else %}
    <div class="alert alert-warning" role="alert">
        Debes iniciar sesión para acceder a esta página.
    </div>
{% endif %}
{% endblock %}
