{% extends "torneo/estructura/base.html" %}

{% block content %}
{% load django_bootstrap5 %}

<form action="{% url 'buscar_perfil' %}" method="GET">
    {% csrf_token %}

    <!-- Campo de texto para búsqueda -->
    <div class="mb-4">
        {% bootstrap_field formulario.textoBusqueda show_label=True %}
    </div>

    <!-- Campo de puntos mínimos -->
    <div class="mb-4">
        {% bootstrap_field formulario.puntos_minimos show_label=True %}
    </div>

    <!-- Campo de nivel mínimo -->
    <div class="mb-4">
        {% bootstrap_field formulario.nivel_minimo show_label=True %}
    </div>

    <!-- Botón de búsqueda -->
    <div class="text-center">
        {% bootstrap_button "Buscar Perfiles" button_type="submit" button_class="btn-primary" %}
    </div>

</form>

{% endblock %}
