<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="{% url 'index' %}">Mi Aplicación</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Enlace a Inicio -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>

            <!-- Dropdown de Torneos -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownTorneos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Torneos
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownTorneos">
                    <li><a class="dropdown-item" href="{% url 'torneo_crear' %}">Crear Torneo</a></li>
                    <li><a class="dropdown-item" href="{% url 'buscar_torneo' %}">Búsqueda Avanzada</a></li>
                    <li><a class="dropdown-item" href="{% url 'lista_torneo' %}">Lista de Torneos</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="btn btn-outline-warning" href="{% url 'registro' %}">Registrarse</a>
            </li>
         
        </ul>

        <!-- Información del usuario en sesión -->
        {% if user.is_authenticated %}
        <span class="navbar-text text-light">
            <div>
                <p>Bienvenido, {{ nombre_usuario }} | Estado: {{ estado_usuario }} | Última conexión: {{ ultima_conexion }} | Fecha de inicio: {{ fecha_inicio }} | Preferencias: {{ preferencias_usuario.idioma }}</p>
            </div>
        </span>

        <!-- Formulario para cerrar sesión (solo si está autenticado) -->
        <form action="{% url 'logout' %}" method="post" class="d-flex ms-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
        {% else %}
        <!-- Enlace de iniciar sesión (solo si no está autenticado) -->
        <a class="btn btn-outline-success" href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}

        <!-- Barra de búsqueda -->
        <form action="{% url 'buscar_torneo' %}" class="d-flex mt-3" role="search" method="GET">
            <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-light btn-outline-dark" type="submit">Buscar</button>
        </form>
    </div>
</nav>
