{% extends "torneo/estructura/base.html" %}

{% block content %}
{% load django_bootstrap5 %}

<form action="{% url 'buscar_participante' %}" method="GET">

    {% csrf_token %}

    <!-- Campo de texto para búsqueda -->
    <div class="mb-4">
        {% bootstrap_field formulario.textoBusqueda show_label=True %}
    </div>

    <!-- Campo de fecha de inscripción desde -->
    <div class="mb-4">
        {% bootstrap_field formulario.fecha_inscripcion_desde show_label=True %}
    </div>

    <!-- Campo de fecha de inscripción hasta -->
    <div class="mb-4">
        {% bootstrap_field formulario.fecha_inscripcion_hasta show_label=True %}
    </div>

    <!-- Campo de puntos mínimos -->
    <div class="mb-4">
        {% bootstrap_field formulario.puntos_minimos show_label=True %}
  
    </div>

    <!-- Campo de puntos máximos -->
    <div class="mb-4">
        {% bootstrap_field formulario.puntos_maximos show_label=True %}
    
    </div>

    <!-- Campo de tiempo jugado mínimo -->
    <div class="mb-4">
        {% bootstrap_field formulario.tiempo_jugado_minimo show_label=True %}
 
    </div>

    <!-- Campo de tiempo jugado máximo -->
    <div class="mb-4">
        {% bootstrap_field formulario.tiempo_jugado_maximo show_label=True %}
  
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.equipos show_label=True %}
  
    </div>

    <!-- Botón de búsqueda -->
    <div class="text-center">
        {% bootstrap_button "Buscar Participantes" button_type="submit" button_class="btn-primary" %}
    </div>

</form>

{% endblock %}
